@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

::-webkit-scrollbar {
  display: none;
}

button {
  background-color: #1C1C1E;
  border-radius: 30px;
  border-style: none;
  color: #fafafa;
  padding: 1vw 2vw;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}

button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), #1C1C1E;
  cursor: pointer;
}

.App {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  text-align: center;
  font-family: 'Noto Sans JP', sans-serif;
  overflow: hidden;
}

.App-header {
  background-color: #1C1C1E;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fafafa;
}

.login-screen {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-bg-image {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(./components/images/login.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-box {
  background-color: rgb(255, 255, 255, 0.3);
  min-width: 30vw;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.google-icon {
  height: 1vw;
  width: 1vw;
  padding-left: 8px;
}

.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-height: 8vh;
  padding: 1vw 0vw;
  background-color: #1C1C1E;
  color: #fafafa;
}

.nav-button {
  background-color: transparent;
  border: solid;
  border-color: #fafafa;
  border-width: 0.25vw;
  padding: 0.5vw 2vw; 
}

.sign-out-nav {
  padding-right: 2vw;
}

.logo {
  text-transform: uppercase;
  color: #fafafa;
  font-size: 2vw;
  font-family: 'Noto Sans JP', sans-serif;
  padding: 0vw 2vw;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #fafafa;
  padding: 0 1vw;
  font-size: 1.25vw;
}

.nav-link:hover {
  color: blanchedalmond;
}

.bot {
  height: 89.75vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),url(./components/images/chat-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* 
.bot-container {
  padding: 2vw;
}

.chat {
  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  min-height: 80vh;
  min-width: 80vw;
} */

@media only screen and (max-width: 600px) {
  .login-box {
    min-width: 70vw;
    min-height: 70vw;
  }
}